.imagePost{
  height: 100%; width: 100%; object-fit: contain
}

.page-end {
  width: 100%;
  height: 100px;
}

.imageProfile{
  border-radius: 50%;
}

.profileEditFileName{
  font-size: small;
  color: rgb(167, 161, 161);
}

.makeStyles-paper-2 {
  background-image: linear-gradient(to bottom right, rgb(191, 236, 250), rgb(248, 194, 248));

}

.profileDiv{
  border: 3px solid #fff;
}

.ProfileButton{
  border: 3px solid #fff;
}
